<%- include("header.ejs") %>
    <h1>TPL</h1>
    <h2>port = <%= port %> </h2>
    <h2>cnt = <%= timesShown %> </h2>
    <ul>
    <% for(let i=1;i<=10;i++){ %>
    <li><%= i %></li>
    <% } %>
    </ul>
    <br><br>
    <p><a href="/">main</a></p>
<%- include("footer.ejs") %>
